.App {
  text-align: center;
}

.App-header {
  background-color: #ced4da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}



h1 {
  background-color: black;
  width: 100%;

}

#site-title {
  margin: 0px;
}