.business {
    color:black;
}

.business-details {
    font-size: 0.6rem;
}

.business-name {
    font-weight: bold;
}

.business-category {
    color: #D2C04B;
}

.business-rating {
    color: #D2C04B;
}

.business-state-zip  p {
    display: inline;
}

